<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your subscription details, <%= @user.name %></h1>
    <p>
      You have successfully subscribed for the item <%= @item.Name %>
      We will let you know as soon as the item is available.<br>
    </p>
    <p>Thanks for your support!</p>
  </body>
</html>